if SHIELD_HORANGI_FIST_LEFT

config ZMK_KEYBOARD_NAME
    default "horangi_fist"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HORANGI_FIST_LEFT || SHIELD_HORANGI_FIST_RIGHT

config ZMK_SPLIT
    default y

endif
